<h1>Display the list of all Users</h1>

<div class ='user-info'>
<% @users.each do |user| %>
<div class = 'user-index'>
<img  alt="profile image"/>
<div>
<h2><%= link_to user.name, controller: 'users', id: user, action: 'show' %></h2>
<p>Number of posts: <% user.posts_counter %></p>
</div>
</div>
<% end %>
</div>
