@import "bootstrap";

body {
  padding: 50px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.user-index {
  display: flex;
  gap: 7%;
  margin-bottom: 20px;

  img {
    width: 20%;
    height: 9rem;
    border: 1px solid rgba(7, 7, 7, 0.87);
  }

  div {
    position: relative;
    border: 2px solid rgba(7, 7, 7, 0.87);
    width: 60%;
    height: 90px;
    align-self: center;
    padding: 0 20px;

    p {
      position: absolute;
      bottom: 0;
      right: 20px;
    }
  }
}

.bio {
  border: 1px solid rgba(0, 0, 0, 0.849);
  height: 9rem;
  padding: 12px;
  width: 70rem;
}

.recent-post {
  div {
    p {
      position: absolute;
      bottom: 0;
      right: 20px;
    }

    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.918);
    margin-bottom: 10px;
    padding: 0 10px;
    width: 70rem;
  }

  .recent-comments {
    margin-bottom: 0;
  }

  .comments {
    margin-bottom: 15px;
  }

  .button {
    border: none;
    display: flex;
    margin-top: 1.3rem;
    justify-content: center;

    button {
      padding: 0.3rem;
      box-shadow: 0.1rem 0.1rem;
      background-color: rgba(255, 255, 255, 0.856);
    }
  }
}

.single-post {
  border: 0.15rem solid rgba(0, 0, 0, 0.836);
  padding: 0 0.6rem;
  min-height: 50vh;
  margin-bottom: 0.15rem;

  div {
    display: flex;
    position: relative;

    p {
      position: absolute;
      right: 10px;
      top: 0;
    }
  }
}

.single-comment {
  border: 1px solid rgba(0, 0, 0, 0.877);
  padding: 0 10px;
  min-height: 20vh;
}
